@tailwind base;
@tailwind components;
@tailwind utilities;

#Home{
  background-image: url("/Images/bg_home.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  
  
}
#About{
  height: calc(100vh - 64px);
}
#Contact{
  height: calc(100vh - 64px);
  
}


@keyframes showNavBar{
  0%{
    left: 1000px;
    right: -1000px;
  }
  100%{
    left: 0;
    right: 0;
  }
}
@keyframes hideNavBar{
  /* 0%{
    left: 0;
    right: 0;
  } */
  100%{
    
    left: 1000px;
    right: -1000px;
  }
}